@{
    ViewData["Title"] = "TrackOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--====== Section 3 ======-->
<div class="u-s-p-b-60" style="padding-top: 3.75rem;">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="checkout-f">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="u-s-m-b-30">
                            <div class="u-s-m-b-15">
                                <img src="https://cdn.tgdd.vn/2022/10/banner/TGDD-540x270-1.png">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="o-summary">
                            <div class="o-summary__section u-s-m-b-30" style="height: 250px;">
                                <form>
                                    <div class="o-summary__box">
                                        <h1 class="checkout-f__h1" style="text-align: center;font-size:28px;margin-bottom:15px">
                                            Tra cứu thông tin đơn hàng
                                        </h1>
                                        <input type="text" class="input-text input-text--border-radius input-text--style-1" placeholder="Theo dõi đơn hàng" style="margin-bottom:15px">
                                    </div>
                                    <button class="btn btn--e-brand-b-2" type="submit" style="width:498px;margin-left:20px">Tra cứu</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>