@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="u-s-p-y-10">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="breadcrumb">
                <div class="breadcrumb__wrap">
                    <ul class="breadcrumb__list">
                        <li class="has-separator">

                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="is-marked">

                            <a>Giỏ hàng</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="u-s-p-y-60">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 u-s-m-b-30">
                    <div class="empty">
                        <div class="empty__wrap">

                            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: -60px; height: 250px; width: 100%; background-repeat: no-repeat; background-size: contain; background-position: center; background-image: url('https://media.baamboozle.com/uploads/images/46623/1648839924_225397_gif-url.gif');">
                                <span style="margin-top: 275px">Không có sản phẩm nào trong giỏ hàng!!!</span>
                                <a class="nav-link btn--e-white-brand-shadow" href="/SanPhamChiTiets">ĐI ĐẾN GIAN HÀNG!!!</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>