@page "/KhongDuocTruyCap.html"
@model AccessDeniedModel
@{
    ViewData["Title"] = "Hạn chế truy cập";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Bạn không có quyền truy cập vào tài nguyên này.Hãy liên lạc với quản trị viên để được cấp phép</p>
</header>
