@page "/XacNhanQuenMatKhau.html"
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Xác nhận quên mật khẩu";
}
<div style="text-align: center;  display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 500px;">
    <img src="/PageIdentity/ForgotPasswordConfirmation.jpg" style="width: 200px;" alt="Ảnh đánh giá">
    <div class="u-s-m-b-15" style="text-align: center;">
        <h1 class="dash__h1 u-s-m-b-14" style="display: inline-block; margin-top: 10px;">Vui lòng kiểm tra email của bạn để đặt lại mật khẩu.</h1>
    </div>
</div>