@page "/email-link"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Liên kết gửi qua Email";
    //Layout = "/Views/Shared/_LayoutQMK.cshtml";
    Layout = "/Views/Shared/_Layout.cshtml";

}
<style>
    .u-img-fluid {
        margin-left: 20%;
        width: 60%;
        max-width: 60%;
    }
</style>
<div class="new-l">
    <div class="modal-dialog modal-dialog-centered" style="height:420px;">
        <div class="modal-content modal--shadow">
            <h5 class="new-l__h3" style="text-align:center">Xác minh bằng liên kết gửi qua Email</h5>
            <div class="modal-body">
                <div class="row u-s-m-x-0">
                   
                    <div class="col-lg-12 new-l__col-2">
                        <div class="new-l__section u-s-m-t-30">
                            <div class="u-s-m-b-30 new-l--center">


                                    <img  class="u-img-fluid u-d-block" src="/PageIdentity/Homthu.jpg" alt="">
                            </div>
                            <div class="u-s-m-b-30 new-l--center">
                                <span>Vui lòng nhấn vào liên kết xác thực đã được gửi đến địa chỉ Email của bạn</span>
                            </div>
                           

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
