@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}
<style>
    .text-danger {

        color: red;
    }

    .new-l__h3 {
        margin-top: 2%;
        font-size: 20px;
    }
</style>
<div class="new-l" >
    <div class="modal-dialog modal-dialog-centered" style="height:420px;">
        <div class="modal-content modal--shadow">
            <h5 class="new-l__h3" style="text-align:center">Đặt lại mật khẩu</h5>
            <div class="modal-body">
                <div class="row u-s-m-x-0">
                    <div class="col-lg-6 new-l__col-1 u-s-p-x-0">

                        <a style="margin-top: 11%;" class="new-l__img-wrap u-d-block" href="">

                            <img class="u-img-fluid u-d-block" src="@Model.anh" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6 new-l__col-2">
                        <div class="new-l__section u-s-m-t-30">
                           
                            <div class="u-s-m-b-30 new-l--center">
                                <p class="new-l__p1">Xin chào</p>
                                <h3 class="new-l__h3">@Model.username</h3>
                            </div>
                            <div class="u-s-m-b-8 new-l--center">
                               
                            </div>
                            <form class="new-l__form" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input asp-for="Input.Code" type="hidden" />
                                <input asp-for="Input.Email" type="hidden" />
                                <div class="u-s-m-b-15">

                                    <input asp-for="Input.Password" class="news-l__input" type="text" placeholder="Mật khẩu mới">
                                </div>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>

                                <div class="u-s-m-b-15">

                                    <input asp-for="Input.ConfirmPassword" class="news-l__input" type="text" placeholder="Nhập lại mật khẩu mới">
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="u-s-m-b-15">

                                    <button class="btn btn--e-brand-b-2" type="submit">Cập nhật</button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
