.fazD4N ._7Agh3t, .H5Nx3C ._7Agh3t, .JhAzc4 ._7Agh3t, .vwP7Y7 ._7Agh3t {
    animation-name: hide-after-time;
    animation-fill-mode: forwards
}

._8kwsZk.fazD4N ._7Agh3t.fsk4n9 ._2UsJOV.rbfRts, ._8kwsZk.H5Nx3C ._7Agh3t.fsk4n9 ._2UsJOV.rbfRts, ._8kwsZk.JhAzc4 ._7Agh3t.fsk4n9 ._2UsJOV.rbfRts, .vwP7Y7._8kwsZk ._7Agh3t.fsk4n9 ._2UsJOV.rbfRts {
    margin-right: .25em
}

._8kwsZk.g6W5XS.fazD4N ._7Agh3t.fsk4n9 ._2UsJOV.rbfRts, ._8kwsZk.g6W5XS.H5Nx3C ._7Agh3t.fsk4n9 ._2UsJOV.rbfRts, ._8kwsZk.g6W5XS.JhAzc4 ._7Agh3t.fsk4n9 ._2UsJOV.rbfRts, ._8kwsZk.V3du8C.fazD4N ._7Agh3t.fsk4n9 ._2UsJOV.rbfRts, ._8kwsZk.V3du8C.H5Nx3C ._7Agh3t.fsk4n9 ._2UsJOV.rbfRts, ._8kwsZk.V3du8C.JhAzc4 ._7Agh3t.fsk4n9 ._2UsJOV.rbfRts, .vwP7Y7._8kwsZk.g6W5XS ._7Agh3t.fsk4n9 ._2UsJOV.rbfRts, .vwP7Y7._8kwsZk.V3du8C ._7Agh3t.fsk4n9 ._2UsJOV.rbfRts {
    margin-right: 0
}

.vpiXWe.aKKong.fazD4N :not(._7Agh3t).fsk4n9 .rbfRts:last-child, .vpiXWe.aKKong.H5Nx3C :not(._7Agh3t).fsk4n9 .rbfRts:last-child, .vpiXWe.aKKong.JhAzc4 :not(._7Agh3t).fsk4n9 .rbfRts:last-child, .vpiXWe.Co2fU6.fazD4N :not(._7Agh3t).fsk4n9 .rbfRts:last-child, .vpiXWe.Co2fU6.H5Nx3C :not(._7Agh3t).fsk4n9 .rbfRts:last-child, .vpiXWe.Co2fU6.JhAzc4 :not(._7Agh3t).fsk4n9 .rbfRts:last-child, .vwP7Y7.vpiXWe.aKKong :not(._7Agh3t).fsk4n9 .rbfRts:last-child, .vwP7Y7.vpiXWe.Co2fU6 :not(._7Agh3t).fsk4n9 .rbfRts:last-child {
    margin-left: .25em
}

.fazD4N .fsk4n9, .fazD4N .mECbXI, .fazD4N .q4y\+vH, .fazD4N .Z9KNYN {
    height: 2.875rem;
    line-height: 2.875rem
}

    .fazD4N .fsk4n9.UeAynM {
        height: 2.5rem;
        line-height: 2.5rem
    }

.fazD4N .Z9KNYN {
    font-size: 1.25rem
}

.fazD4N .mECbXI, .fazD4N .rbfRts {
    font-size: 1.75rem
}

.fazD4N .UeAynM .rbfRts {
    font-size: 1.25rem
}

.fazD4N .fsk4n9 {
    padding: 0 .5rem
}

    .fazD4N .fsk4n9.UeAynM {
        padding: 0 .625rem
    }

.fazD4N .q4y\+vH {
    width: .625rem
}

.fazD4N._8kwsZk ._7Agh3t.fsk4n9, .fazD4N.vpiXWe .fsk4n9:not(:last-child), .fazD4N.vpiXWe .Z9KNYN {
    margin-right: .625rem
}

.fazD4N .Z9KNYN {
    margin-right: .375rem
}

.fazD4N .mECbXI {
    width: 1rem
}

.fazD4N, .H5Nx3C, .JhAzc4, .vwP7Y7 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative
}

    .JhAzc4 .Z9KNYN, .JhAzc4._8kwsZk ._7Agh3t.fsk4n9, .JhAzc4.vpiXWe .fsk4n9:not(:last-child), .JhAzc4.vpiXWe .Z9KNYN {
        margin-right: .9375rem
    }

    .H5Nx3C._8kwsZk ._7Agh3t.fsk4n9, .H5Nx3C.vpiXWe .fsk4n9:not(:last-child), .H5Nx3C.vpiXWe .Z9KNYN {
        margin-right: 1.25rem
    }

.cZ76Ba {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.BwuUKj .rbfRts, .HvGSgg .rbfRts {
    overflow-y: hidden
}

    .BwuUKj .rbfRts a, .HvGSgg .rbfRts a {
        text-decoration: none;
        pointer-events: none;
        color: inherit
    }

    .BwuUKj .rbfRts span, .HvGSgg .rbfRts span {

        display: block
    }

.BwuUKj .Q3Hjob .rbfRts span, .HvGSgg .Q3Hjob .rbfRts span {
    width: 2ch;
    word-break: normal
}

.BwuUKj ._2jJhsc > div, .BwuUKj ._2jJhsc span, .HvGSgg ._2jJhsc > div, .HvGSgg ._2jJhsc span {
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
    animation-fill-mode: backwards
}

.BwuUKj ._2UsJOV._2jJhsc span, .HvGSgg ._2UsJOV._2jJhsc span {
    animation-name: decimal-tick
}

.BwuUKj .FSBEZB._2jJhsc span, .HvGSgg .FSBEZB._2jJhsc span {
    animation-name: senary-tick
}

.BwuUKj ._1mNNLN._2jJhsc > div, .HvGSgg ._1mNNLN._2jJhsc > div {
    animation-name: ms-day-hour-tick
}

.JhAzc4 .fsk4n9, .JhAzc4 .mECbXI, .JhAzc4 .q4y\+vH, .JhAzc4 .Z9KNYN {
    height: 3.75rem;
    line-height: 3.75rem
}

    .JhAzc4 .fsk4n9.UeAynM {
        height: 3.375rem;
        line-height: 3.375rem
    }

.JhAzc4 .Z9KNYN {
    font-size: 1.75rem
}

.H5Nx3C .fsk4n9, .H5Nx3C .mECbXI, .H5Nx3C .q4y\+vH, .H5Nx3C .Z9KNYN {
    height: 4.625rem;
    line-height: 4.625rem
}

    .H5Nx3C .fsk4n9.UeAynM {
        height: 4.125rem;
        line-height: 4.125rem
    }

.H5Nx3C .Z9KNYN {
    font-size: 2rem
}

.BwuUKj .Z9KNYN, .HvGSgg .Z9KNYN {
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.JhAzc4 .fsk4n9 {
    padding: 0 12px
}

    .JhAzc4 .fsk4n9.UeAynM {
        padding: 0 10px
    }

.H5Nx3C .fsk4n9 {
    padding: 0 1rem
}

    .H5Nx3C .fsk4n9.UeAynM {
        padding: 0 .875rem
    }

.BwuUKj .fsk4n9, .HvGSgg .fsk4n9 {
    border-radius: .125rem;
    display: flex;
    justify-content: center
}

.JhAzc4 .mECbXI, .JhAzc4 .rbfRts {
    font-size: 2.25rem
}

.JhAzc4 .UeAynM .rbfRts {
    font-size: 1.75rem
}

.H5Nx3C .mECbXI, .H5Nx3C .rbfRts {
    font-size: 2.75rem
}

.H5Nx3C .UeAynM .rbfRts {
    font-size: 2rem
}

.BwuUKj, .HvGSgg {
    display: flex;
    min-width: 0;
    align-items: flex-end;
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums
}



    .BwuUKj .mECbXI, .HvGSgg .mECbXI {
        text-align: center
    }
