.MOttpc {
    display: flex;
    position: relative;
    z-index: 0
}
@font-face {
    font-family: 'Monument';
    src: url('Knorke.ttf') format('opentype');
}
.tenKhuyenMai {
    font-family: Montserrat, sans-serif;
    color: #FF2F2F; /* Màu chữ */
    text-shadow: 2px 2px 4px rgba(52, 152, 219, 0.5); /* Hiệu ứng nổi bật */
    font-weight: bold;
    font-size: 30px;
} 
ul .MOttpc {
    padding: 0;
    margin: 0
}
.dongGia {
    display: flex;
    justify-content: center; /* Căn giữa các phần tử */
    list-style: none; /* Loại bỏ dấu chấm tròn */
    padding: 0; /* Loại bỏ padding mặc định của danh sách */
}

    .dongGia li {
        color: #ffffff; /* Màu chữ cho các thẻ li */
        margin-right: 0px;
        width: 33.33%;
        flex-shrink: 0;
        flex-grow: 0;
        background-color: blue; /* Màu nền xanh */
    }
.giaDongGia {
    text-decoration: none; /* Loại bỏ gạch chân đường dưới cho các liên kết */
}

.hienThiGia {
    display: block;
    text-align: center; /* Căn giữa nội dung trong thẻ span */
    padding: 10px; /* Thêm padding cho đẹp */
}
.ggEu9K {
    overflow-y: hidden;
    overflow-x: scroll
}

    .ggEu9K::-webkit-scrollbar {
        display: none
    }

._58HtDH {
    padding-top: 100%;
    background: #f1f1f1;
    position: relative
}

    ._58HtDH:before {
        content: "";
        right: 0;
        bottom: 0;
        background-position: 50%;
        background-size: 60px 60px;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 54 61' fill='%23e5e4e4'%3E%3Cpath d='M51.2 16.9H38.7C38.7 11.6 36 .6 27 .5 17.4.4 15.2 12.4 15.2 16.9H2.8c-3.4 0-2.7 3.4-2.7 3.4l2.4 33s-.1 7.3 6.3 7.5h36.5c6.2-.4 6.3-7.5 6.3-7.5l2.4-33c0-.1.5-3.5-2.8-3.4zM27.1 4.2c7.1.2 7.9 11.7 7.7 12.6H19.1c-.1-.9.4-12.4 8-12.6zm9.1 44.6c-1 1.7-2.7 3-5 3.7-1.2.4-2.4.5-3.6.5-3.2 0-6.5-1.1-9.3-3.3-.8-.6-1-1.5-.5-2.3.2-.4.7-.7 1.2-.8.4-.1.9 0 1.2.3 3.2 2.4 8.3 4 11.9 1.6 1.4-.9 2.1-2.7 1.6-4.3-.5-1.6-2.2-2.7-3.5-3.4-1-.6-2.1-1-3.3-1.4-.9-.3-1.9-.7-2.9-1.2-2.4-1.2-4-2.6-4.8-4.2-1.2-2.3-.6-5.4 1.4-7.5 3.6-3.8 10-3.2 14-.4.9.6.9 1.7.4 2.5s-1.4.9-2.2.4c-2-1.4-4.4-2-6.4-1.7-2 .3-4.7 2-4.4 4.6.2 1.5 2 2.6 3.3 3.3.8.4 1.5.7 2.3.9 4.3 1.3 7.2 3.3 8.6 5.7 1.2 2.1 1.2 4.9 0 7z'/%3E%3C/svg%3E")
    }

    ._58HtDH:before,
    .durNsD {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%
    }

.carousel-arrow {
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .12);
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #fff;
    margin-top: -25px;
    transition: all .1s cubic-bezier(.4, 0, .6, 1);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0
}

    .carousel-arrow > .shopee-svg-icon {
        transition: width .1s cubic-bezier(.4, 0, .6, 1);
        color: rgba(0, 0, 0, .54);
        fill: rgba(0, 0, 0, .54)
    }

.carousel-arrow--hint {
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-top: -12.5px;
    background-color: #fff
}

    .carousel-arrow--hint > .shopee-svg-icon {
        height: .625rem;
        width: .625rem;
        color: rgba(0, 0, 0, .54);
        fill: currentColor
    }

.info-popup__head {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 30px
}

    .info-popup__head .shopee-svg-icon {
        height: 24px;
        width: 24px
    }

.Puafu0 {
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0, 0, 0, .8);
    width: 32px;
    height: 32px
}

    ._8PaEIK,
    .Puafu0[disabled] {
        border-color: rgba(0, 0, 0, .09);
        color: #ccc
    }

        ._8PaEIK svg,
        .Puafu0[disabled] svg {
            fill: #ccc
        }

    .Puafu0.KCz9nQ,
    .Puafu0:focus-visible {
        box-shadow: 0 0 0 2px #fff, 0 0 0 4px #000
    }

    .Puafu0 .shopee-svg-icon {
        font-size: 10px;
        width: 10px;
        height: 10px;
        flex-shrink: 0
    }

.A7tnod {
    background-color: #fff
}

    .A7tnod .shopee-svg-icon {
        font-size: 7.5rem !important
    }

.\+iJKu1 {
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0, 0, 0, .8);
    width: 32px;
    height: 32px
}

    .\+iJKu1[disabled],
    .l8OQat {
        border-color: rgba(0, 0, 0, .09);
        color: #ccc
    }

        .\+iJKu1[disabled] svg,
        .l8OQat svg {
            fill: #ccc
        }

    .\+iJKu1._2FQ5XF,
    .\+iJKu1:focus-visible {
        box-shadow: 0 0 0 2px #fff, 0 0 0 4px #000
    }

    .\+iJKu1 .shopee-svg-icon {
        font-size: 10px;
        width: 10px;
        height: 10px;
        flex-shrink: 0
    }

.V-lIhe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

    .V-lIhe .shopee-item-card__sneak-peak {
        color: #fff;
        background: #d0011b;
        opacity: .82;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1.75rem;
        line-height: 1.75rem;
        text-transform: capitalize;
        text-align: center
    }

    .V-lIhe .customized-overlay-image img {
        width: 100%
    }

.lG9ocC {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

    .lG9ocC .shopee-item-card__sneak-peak {
        color: #fff;
        background: #d0011b;
        opacity: .82;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1.75rem;
        line-height: 1.75rem;
        text-transform: capitalize;
        text-align: center
    }

    .lG9ocC .customized-overlay-image img {
        width: 100%
    }

.QgI1pB {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

    .QgI1pB .shopee-item-card__sneak-peak {
        color: #fff;
        background: #d0011b;
        opacity: .82;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1.75rem;
        line-height: 1.75rem;
        text-transform: capitalize;
        text-align: center
    }

    .QgI1pB .customized-overlay-image img {
        width: 100%
    }

._0w738K {
    display: inline;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.w4ueEZ {
    position: relative
}

.QoAOuE {
    overflow: hidden
}
