* {
    box-sizing: border-box;
}

.search {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato' !important;
    margin-bottom: 15px;
    border-radius: 25px;
}

.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}
.form-control1 {
    padding: 0.55rem 1rem;
    height: auto;
    color: #53535f;
    border: 1px solid #edf2f9;
    font-size: .875rem;
    line-height: 1.5;
    background-color: #3f87f5;
    width: 100%;
    color: #fff
} 
.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 40px;
    color: #fff;
}

    .input-search::placeholder {
        color: rgba(255,255,255,.5);
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: 100;
    }

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #ffffff;
    background-color: transparent;
    pointer-events: painted;
}

    .btn-search:focus ~ .input-search {
        width: 1107px;
        border-radius: 0px;
        border-radius: 25px;
        border-bottom: 1px solid rgba(255,255,255,.5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }

.input-search:focus {
    width: 1107px;
    border-radius: 0px;
    border-radius: 25px;
    border-bottom: 1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.dropdown-menu {
    max-height: 150px; 
    overflow-y: auto; 
}
.form-control {
    padding: 0.55rem 1rem;
    height: auto;
    color: #53535f;
    border: 1px solid #edf2f9;
    font-size: .875rem;
    line-height: 1.5;
    background-color: #b266ff;
}


