<style>
    #table-sanpham tbody tr {
        cursor: pointer;
    }
    .modal-custom {
        max-width: 80% !important;
    }
</style>

<div class="card-body">
    <div class="modal fade" id="exampleModal">
        <div class="modal-dialog modal-dialog-scrollable modal-custom">
            <div class="modal-content">
                <div class="modal-header" style="background: #129dc1;">
                    <h5 class="modal-title" id="exampleModalLabel">DANH SÁCH SẢN PHẨM</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="anticon anticon-close"></i>
                    </button>
                </div>
                <div class="modal-body" id="modal-dssanpham">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <table class="table table-hover no-footer w-100" id="table-sanpham">
        </table>
    </div>
</div>

<script>
    (function () {
        $(() => {
            var tableDSTongQuan = $('#table-sanpham').DataTable({
                ajax: {
                    url: '@Url.Action("GetTongQuanDanhSach", "SanPhamChiTiet", new { area = "Admin" })',
                    type: 'GET',
                    dataType: 'json',
                    data: function (e) {
                        return {
                            draw: e.draw,
                            start: e.start,
                            length: e.length,
                            searchValue: e.search.value,
                        };
                    },
                    contentType: 'application/json'
                },
                serverSide: true,
                paging: true,
                pageLength: 10,
                columns: [
                    {
                        data: null,
                        title: 'STT',
                        render: function (data, type, row, meta) {
                            return meta.row + 1;
                        },
                        orderable: false
                    },
                    {
                        data: 'sanPham',
                        title: 'Sản phẩm',
                        orderable: false
                    },
                    {
                        data: 'thuongHieu',
                        title: 'Thương hiệu',
                        orderable: false
                    },
                    {
                        data: 'kieuDeGiay',
                        title: 'Kiểu đế',
                        orderable: false
                    },
                    {
                        data: 'chatLieu',
                        title: 'Chất liệu',
                        orderable: false
                    },
                    {
                        data: 'xuatXu',
                        title: 'Xuất xứ',
                        orderable: false
                    },
                    {
                        data: 'loaiGiay',
                        title: 'Loại giày',
                        orderable: false
                    },
                    {
                        data: 'soMau',
                        title: 'Số màu',
                        orderable: false
                    },
                    {
                        data: 'soSize',
                        title: 'Số size',
                        orderable: false
                    },
                    {
                        data: 'tongSoLuongTon',
                        title: 'Số lượng',
                        orderable: false
                    },
                    {
                        data: 'tongSoLuongDaBan',
                        title: 'Số lượng đã bán',
                        orderable: false
                    },
                ],
                rowCallback: function (row, data, index) {
                    $(row).on("click", function () {
                        $.ajax({
                            url: '/Admin/SanPhamChiTiet/GetRelatedProducts',
                            type: 'GET',
                            data: {
                                "sumGuid": data.sumGuild
                            },
                            success: function (result) {
                                $('#exampleModalLabel').empty().html(`${data.thuongHieu.toUpperCase()} - ${data.sanPham.toUpperCase()} - ${data.kieuDeGiay.toUpperCase()} - ${data.chatLieu.toUpperCase()} - ${data.loaiGiay.toUpperCase()} - ${data.xuatXu.toUpperCase()}`);
                                $('#modal-dssanpham').empty().html(result);
                                $('#exampleModal').modal('show');
                            },
                            error: function (xhr, status, error) {
                                console.log(xhr.responseText);
                                console.log(status);
                                console.log(error);
                                console.log(xhr);
                            }
                        });


                    });
                },

                initComplete: function (settings, json) {
                    console.log(settings);
                    console.log(json);
                }
            });

        })
    })()

</script>

