
@{
    ViewData["Title"] = "Danh sách nhóm sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .tabs {
        display: flex;
        border: 1px solid #ccc;
        overflow: hidden;
        background-color: white;
    }

    .tab-item {
        flex: 1;
        width: calc(100%/6);
        text-align: center;
        padding: 10px 0;
        cursor: pointer;
        color: #333333;
        transition: background-color 0.3s;
    }

        .tab-item.active {
            background-color: #ff4500;
            color: #fff;
        }
</style>

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>QUẢN LÝ SẢN PHẨM</a>
            <a class="breadcrumb-item" href="#">DANH SÁCH NHÓM SẢN PHẨM</a>
        </nav>
    </div>
</div>

<div class="card">
    <div class="m-order__list active" id="content1">
    </div>
</div>
<script>
    var keyProduct;
    $(() => {
        $.ajax({

            url: '/Admin/SanPhamChiTiet/DanhSachTongQuanSanPham',
            type: 'GET',
            success: function (result) {
                $('#content1').empty().html(result);
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }

        });
    })

   
    function thayDoiBodyDSSanPham() {
        $.ajax({
            url: '/Admin/SanPhamChiTiet/GetRelatedProducts',
            type: 'GET',
            data: {
                "sumGuid": keyProduct,
                "mauSac": $('#filterMauSac').val(),
                "size": $('#filterSize').val()
            },
            success: function (result) {
                $('#modal-dssanpham').empty().html(result);
                $('#exampleModal').modal('show');
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        });
    }

    $(document).off('click', '#btn-coppy');
    $(document).on('click', '#btn-coppy', function () {
        var id = $(this).closest('#form-getID').find('[name="IdChiTietSp"]').val();

        var data = {
            IdSanPhamChiTiet: id,
        };
        $.ajax({
            url: '/Admin/SanPhamChiTiet/GetPartialViewSanPhamCopy',
            type: 'Get',
            data: data,
            success: function (result) {
                $('#modal-SanPham').fadeOut(30, function () {
                    $(this).empty().html(result).css('opacity', 0);

                    $(this).fadeIn(20, function () {
                        $(this).css('opacity', 1);
                    });
                });
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        });
    })

</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/Admin/js/pages/e-commerce-order-list.js"></script>
    <script src="~/Admin/vendors/datatables/jquery.dataTables.min.js" defer></script>
    <script src="~/Admin/vendors/datatables/dataTables.bootstrap.min.js" defer></script>
    <script src="~/Admin/js/pages/datatables.js" defer></script>
    <script src="~/Admin/vendors/select2/select2.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autonumeric/4.8.1/autoNumeric.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}
