@model List<App_Data.Models.ThuongHieu>
<div class="u-s-p-y-60" id="electronic-01">

    <!--====== Section Intro ======-->
    <div class="section__intro u-s-m-b-46">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="block">
                        <span class="block__title">DANH MỤC THƯƠNG HIỆU GIÀY HÀNG ĐẦU</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Intro ======-->
    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30">
                        <div class="category-o">
                            <div class="aspect aspect--bg-grey aspect--square category-o__img-wrap">

                                <img class="aspect__img category-o__img" src="/images/brand.jpg" alt="">
                            </div>
                            <div class="category-o__info">

                                <a class="category-o__shop-now btn--e-white-brand" href="/sanphamchitiets?brand=@item.TenThuongHieu" style=" background: #ff000099; color: white;">@item.TenThuongHieu</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>