@page "/Admin/tạo tài khoản"
@using static App_Data.Repositories.TrangThai;
@model App_View.Areas.Admin.Pages.User.AddAccountModel
@using App_Data.Models;
@inject RoleManager<ChucVu> _roleManager

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var roles = _roleManager.Roles.ToList();
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
    a:hover {
        color: white; /* Màu chữ khi di chuột vào */
    }
    label.form-control {
        border: none;
        outline: none; 
    }
    .text-danger {
        color: red;
    }

    .register {
        /*        background: -webkit-linear-gradient(left, #886cff, #00c6ff);
        */
        background-color: white;
        margin-top: 1%;
        padding: 3%;
    }

    .register-left {
        text-align: center;
        color: #fff;
        margin-top: 4%;
    }

        .register-left input {
            border: none;
            border-radius: 1.5rem;
            padding: 2%;
            width: 60%;
            background: #f8f9fa;
            font-weight: bold;
            color: #383d41;
            margin-top: 30%;
            margin-bottom: 3%;
            cursor: pointer;
        }

    .register-right {
        background: #f8f9fa;
        border-top-left-radius: 10% 50%;
        border-bottom-left-radius: 10% 50%;
    }

    .register-left img {
        margin-top: 15%;
        margin-bottom: 5%;
        width: 25%;
        -webkit-animation: mover 2s infinite alternate;
        animation: mover 1s infinite alternate;
    }

    -webkit-keyframes mover {
        0%

    {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }

    }

    keyframes mover {
        0%

    {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }

    }

    .register-left p {
        font-weight: lighter;
        padding: 12%;
        margin-top: -9%;
    }

    .register .register-form {
        padding: 7%;
        margin-top: 10%;
        background-color: white;
    }

    .btnRegister {
        float: right;
        margin-top: 10%;
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        background: #0062cc;
        color: #fff;
        font-weight: 600;
        width: 50%;
        cursor: pointer;
    }

    .register .nav-tabs {
        margin-top: 3%;
        border: none;
        background: #0062cc;
        border-radius: 1.5rem;
        width: 28%;
        float: right;
    }

        .register .nav-tabs .nav-link {
            padding: 2%;
            height: 45px;
            font-weight: 600;
            color: #fff;
            border-top-right-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
        }

            .register .nav-tabs .nav-link:hover {
                border: none;
            }

            .register .nav-tabs .nav-link.active {
                width: 100px;
                color: #0062cc;
                border: 2px solid #0062cc;
                border-top-left-radius: 1.5rem;
                border-bottom-left-radius: 1.5rem;
            }

    .register-heading {
        text-align: center;
        margin-top: 2%;
        margin-bottom: -15%;
        color: #495057;
    }

    .placeholder-style::before {
        content: "Ngày sinh";
        color: gray;
    }

 
</style>

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash" style="background-color: white; ">
            <a href="#" class="breadcrumb-item " style="text-decoration: none;"><i class="anticon anticon-home m-r-5"></i>Quản lý người dùng</a>
            <span class="breadcrumb-item active">Tạo tài khoản</span>
        </nav>
    </div>
</div>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="container register" style="margin-top: -7%;">
    @*<div class="mb-2" style="margin-left: 7%;">
        <a class="btn btn-primary" asp-page="../User/Index">Danh sách thành viên</a>
    </div>*@
    <div class="row">
        <div class="col-md-12 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" style="overflow-y: visible;height: 400px;">
                    <h3 class="register-heading">Tạo tài khoản</h3>
                    <form method="post">

                        <div class="row register-form">
                            <div class="col-md-12 text-danger" asp-validation-summary="ModelOnly"></div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <input asp-for="Input.FullName" type="text" class="form-control" aria-required="true" placeholder="Họ và tên *" value="" />
                                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.UserName" type="text" class="form-control" placeholder="Tên tài khoản *" aria-required="true" />
                                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" asp-for="Input.GioiTinh">
                                        <option value="" class="hidden" selected disabled>Giới tính</option>
                                        <option value="@((int)GioiTinhMacDinh.Nam)">Nam</option>
                                        <option value="@((int)GioiTinhMacDinh.Nu)">Nữ</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="form-control">
                                                Ngày sinh
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <input asp-for="Input.NgaySinh" type="date" class="form-control" placeholder="Ngày sinh" id="birthdayInput" />
                                        </div>
                                    </div>
                                    
                                    <span asp-validation-for="Input.NgaySinh" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.Diachi" class="form-control" placeholder="Địa chỉ" />
                                    <span asp-validation-for="Input.Diachi" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <input asp-for="Input.Email" class="form-control" placeholder="Email *" aria-required="true" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.Sdt" class="form-control" placeholder="Số điện thoại" />
                                    <span asp-validation-for="Input.Sdt" class="text-danger"></span>
                                </div>
                                <div class="form-group">

                                    <select class="form-control" asp-for="Input.ChucVu" required>
                                        <option value="null" class="hidden" selected disabled>Vai trò</option>

                                        @foreach (var item in roles)
                                        {
                                            <option value="@item">@item</option>
                                        }

                                    </select>
                                    <span asp-validation-for="Input.ChucVu" class="text-danger"></span>


                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        
                                        <div class="col-md-12">
                                            <input asp-for="Input.Password" class="form-control" placeholder="Mật khẩu *" aria-required="true" />
                                        </div>
                                    </div>
                                    
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Nhập lại mật khẩu *" aria-required="true" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>


                               
                               
                                <input type="submit" class="btnRegister" value="Tạo" />
                               
                                <a style="text-align: center;text-decoration: none;" class="btnRegister" asp-page="../User/Index">Danh sách thành viên</a>
                            </div>
                        </div>
                    </form>
                </div>



            </div>
        </div>
    </div>

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}