<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-10">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">

                                <a href="/">Gian hàng</a>
                            </li>
                            <li class="is-marked">

                                <a>FAQ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->
    <!--====== Section 2 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="faq">
                            <h3 class="faq__heading">CÂU HỎI THƯỜNG GẶP</h3>
                            <h3 class="faq__heading">Dưới đây là những câu hỏi thường gặp, bạn có thể tìm được câu trả lời cho mình.</h3>
                            <p class="faq__text">Lorem Ipsum chỉ đơn giản là văn bản giả của ngành in ấn và sắp chữ. Lorem Ipsum đã trở thành văn bản giả tiêu chuẩn của ngành kể từ những năm 1500, khi một nhà in không xác định lấy một bản in và xáo trộn nó để tạo thành một cuốn sách mẫu. Nó đã tồn tại không chỉ sau 5 thế kỷ mà còn là bước nhảy vọt trong lĩnh vực sắp chữ điện tử, về cơ bản vẫn không thay đổi. Nó được phổ biến vào những năm 1960 với việc phát hành tờ giấy Letraset.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 2 ======-->
    <!--====== Section 3 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="faq-accordion-group">
                            <div class="faq__list">

                                <a class="faq__question collapsed" href="#faq-1" data-toggle="collapse">Làm thế nào tôi có thể nhận được phiếu giảm giá ?</a>
                                <div class="faq__answer collapse" id="faq-1" data-parent="#faq-accordion-group">
                                    <p class="faq__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                </div>
                            </div>
                            <div class="faq__list">

                                <a class="faq__question collapsed" href="#faq-2" data-toggle="collapse">Tôi có cần tạo tài khoản để mua sản phẩm không ?</a>
                                <div class="faq__answer collapse" id="faq-2" data-parent="#faq-accordion-group">
                                    <p class="faq__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                </div>
                            </div>
                            <div class="faq__list">

                                <a class="faq__question collapsed" href="#faq-3" data-toggle="collapse">Làm cách nào tôi có thể theo dõi đơn hàng của mình ?</a>
                                <div class="faq__answer collapse" id="faq-3" data-parent="#faq-accordion-group">
                                    <p class="faq__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                </div>
                            </div>
                            <div class="faq__list">

                                <a class="faq__question collapsed" href="#faq-4" data-toggle="collapse">Hệ thống bảo mật thanh toán là gì ?</a>
                                <div class="faq__answer collapse" id="faq-4" data-parent="#faq-accordion-group">
                                    <p class="faq__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                </div>
                            </div>
                            <div class="faq__list">

                                <a class="faq__question collapsed" href="#faq-5" data-toggle="collapse">Bạn có chính sách gì để bán sản phẩm ?</a>
                                <div class="faq__answer collapse" id="faq-5" data-parent="#faq-accordion-group">
                                    <p class="faq__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                </div>
                            </div>
                            <div class="faq__list">

                                <a class="faq__question collapsed" href="#faq-6" data-toggle="collapse">Làm thế nào tôi trả lại sản phẩm của mình ?</a>
                                <div class="faq__answer collapse" id="faq-6" data-parent="#faq-accordion-group">
                                    <p class="faq__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                </div>
                            </div>
                            <div class="faq__list">

                                <a class="faq__question collapsed" href="#faq-7" data-toggle="collapse">Những phương thức thanh toán nào có sẵn ?</a>
                                <div class="faq__answer collapse" id="faq-7" data-parent="#faq-accordion-group">
                                    <p class="faq__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                </div>
                            </div>
                            <div class="faq__list">

                                <a class="faq__question collapsed" href="#faq-8" data-toggle="collapse">Những phương thức vận chuyển nào có sẵn ?</a>
                                <div class="faq__answer collapse" id="faq-8" data-parent="#faq-accordion-group">
                                    <p class="faq__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 3 ======-->
</div>

