
@{
    ViewData["Title"] = "DonHangs";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<link href="~/css/hoadon.css" rel="stylesheet" />
<style>
    /* CSS cho tab */
    .tabs {
        display: flex;
        border: 1px solid #ccc;
        overflow: hidden;
        background-color: white;
        margin-bottom:20px;
        border-radius: 10px;
    }

    .tab-item {
        flex: 1;
        font-size: 12px;
        text-align: center;
        padding: 10px 0;
        cursor: pointer;
        color: #333333;
        transition: background-color 0.3s;
        font-weight: 600;
    }

        .tab-item.active {
            background-color: #ff4500;
            color: #fff;
            font-weight: 600;
        }

    /* .tab-content {
        padding: 20px;
        border: 1px solid #ccc;
        border-top: none;
        border-radius: 0 0 5px 5px;
        display: none;
    } */

        /* .tab-content.active {
            display: block;
        }

    table.dataTable {
        margin-bottom: 20px;
    }
 */
        /* Đặt màu nền cho tiêu đề cột và đổi màu chữ */
        /* table.dataTable thead th {
            background-color: #333;
            color: white;
            padding: 10px;
        } */

        /* Đặt màu nền và khoảng cách cho dòng dữ liệu */
        /* table.dataTable tbody td {
            background-color: #f5f5f5;
            color: #333;
            padding: 10px;
        } */

        /* Tạo khoảng cách và đổi màu nền khi di chuột qua dòng */
        /* table.dataTable tbody tr:hover {
            background-color: #ddd;
        } */

    /* div.dataTables_paginate {
        text-align: center;
        margin-top: 10px;
    } */

       /*  div.dataTables_paginate a {
            color: #007BFF; 
            margin: 5px;
            padding: 5px 10px;
            border: 1px solid #007BFF; 
            border-radius: 5px; 
            text-decoration: none;
            display: inline-block;
            transition: background-color 0.3s;
        }

            div.dataTables_paginate a.active {
                background-color: #007BFF; 
                color: white; 
            }

            div.dataTables_paginate a:hover {
                background-color: #0056b3; 
                color: white; 
            } */

            /* .dataTables_length,
        .dataTables_filter,
        .dataTables_info,
        .dataTables_paginate {
            font-size: 50%; 
        }

        table {
            font-size: 80%; 
        }

        table thead th {
            font-size: 90%; 
        }

        table tbody td {
            font-size: 70%; 
        } */
</style>

<div class="col-lg-9 col-md-12">
    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
        <div class="dash__pad-2">
            <h1 class="dash__h1 u-s-m-b-14">My Orders</h1>

            <span class="dash__text u-s-m-b-30">Here you can see all products that have been delivered.</span>
            <div class="tabs">
                <div class="tab-item active" id="tab1" data-value="">Tất cả</div>
                <div class="tab-item" id="tab2" data-value="1">Chờ xác nhận</div>
                <div class="tab-item" id="tab3" data-value="2">Chờ lấy hàng</div>
                <div class="tab-item" id="tab4" data-value="3">Đang giao</div>
                <div class="tab-item" id="tab5" data-value="4">Đã giao</div>
                <div class="tab-item" id="tab6" data-value="5">Đã hủy</div>
                <div class="tab-item" id="tab7" data-value="6">Trả hàng</div>
            </div>

            <div class="m-order__list active" id="content1">
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
@* <link href="https://cdn.datatables.net/v/dt/dt-1.13.7/datatables.min.css" rel="stylesheet"> *@

<script>
    $(document).ready(function () {
        $('#example').DataTable();
        $.ajax({
            url: '/DonHang/GetHoaDonOnline',
            type: 'GET',
            success: function (result) {
                $('#content1').empty().html(result);
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        });


    });

    const tabItems = document.querySelectorAll('.tab-item');
    const content1 = document.getElementById('content1');

    tabItems.forEach((tabItem, index) => {
        tabItem.addEventListener('click', () => {
            // Ẩn tất cả các tab content và loại bỏ trạng thái active
            document.querySelectorAll('.m-order__list').forEach(content => {
                content.classList.remove('active');
            });
            document.querySelectorAll('.tab-item').forEach(item => {
                item.classList.remove('active');
            });


            var data = {
                trangThai: tabItem.getAttribute("data-value"),
            };
            $.ajax({
                url: '/DonHang/GetHoaDonOnline',
                type: 'GET',
                data: data,
                success: function (result) {
                    $('#content1').empty().html(result);
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                    console.log(status);
                    console.log(error);
                    console.log(xhr);
                }
            });



            content1.classList.add('active');
            tabItem.classList.add('active');
        });
    });
</script>
@section Scripts{
    <script src="~/Admin/vendors/datatables/jquery.dataTables.min.js" defer></script>
    @* <script src="~/Admin/vendors/datatables/dataTables.bootstrap.min.js" defer></script>
    <script src="~/Admin/js/pages/datatables.js" defer></script> *@
}

