@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    .chartMenu {
        width: 100vw;
        height: 40px;
        background: #1A1A1A;
        /*        color: rgba(54, 162, 235, 1);
    */
    }

        .chartMenu p {
            padding: 10px;
            font-size: 20px;
        }

    .chartCard {
        width: 100vw;
        height: calc(100vh - 40px);
        /*        background: rgba(54, 162, 235, 0.2);
    */ display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .chartBox {
        width: 80%;
        height: 70%;
        padding: 20px;
        border-radius: 20px;
        border: solid 3px rgba(54, 162, 235, 1);
        background: white;
    }

    /*    .custom-scroll-table {
                                    max-height: 10px;
                                    overflow-y: auto;
                                }
                            */

</style>
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash" style="background-color: white; ">
            <a href="#" class="breadcrumb-item " style="text-decoration: none;"><i class="anticon anticon-home m-r-5"></i>Thống kê</a>
            <span class="breadcrumb-item active">Thống kê doanh thu theo sản phẩm</span>
        </nav>
    </div>
</div>
<div class="row">
    <div class="chartCard">
        <div class="row" style="width: 100%;
    margin-left: 7%;
    margin-top: -2%;">
            <div class="form-group">
                <div class="d-flex align-items-center">
                    <label style="margin-right: 2%;
    width: 50%;
    margin-top: 2%;">Chọn phạm vi</label>
                    <input id="fromDate" type="date" class="form-control datepicker-input" name="start" placeholder="From">
                    <span class="p-h-10">to</span>
                    <input id="toDate" type="date" class="form-control datepicker-input" name="end" placeholder="To">
                </div>
            </div>
        </div>
        <div class="chartBox">
            <canvas id="myChart" style="min-height: 250px; height: 250px; max-height: 400px; max-width: 100%;"></canvas>
        </div>
    </div>
</div>
<button class="btn btn-kio" onclick="exportToExcel()">
    <i class="anticon anticon-file-excel m-r-5"></i>
    <span>
        Tải xuống dữ liệu
    </span>
</button>
<table class="table table-bordered custom-scroll-table" style="margin-left: 0%;" id="data-table">
    <thead>
        <tr>
            <th>#</th>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            @*            <th>SL Khách hàng</th>
            *@
            <th>SL hàng bán</th>
            <th>SL đơn hàng</th>
            @*            <th>Tiền hàng</th>
            *@
            <th>Giảm giá sản phẩm</th>
            @* <th>Chiết khấu hóa đơn</th>*@
            <th>Doanh thu</th>

        </tr>
    </thead>
    <tbody id="load_data">
    </tbody>
</table>

@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @*    <script src="~/Admin/js/pages/e-commerce-order-list.js"></script>
    <script src="~/Admin/vendors/datatables/jquery.dataTables.min.js" defer></script>
    <script src="~/Admin/vendors/datatables/dataTables.bootstrap.min.js" defer></script>
    <script src="~/Admin/js/pages/datatables.js" defer></script>
    <script src="~/Admin/js/vendors.min.js"></script>*@
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>

    <script src="~/Admin/moment/moment.min.js"></script>

    <script>
        // Hàm để lấy chuỗi ngày dạng 'YYYY-MM-DD' cho một ngày
        function formatDate(date) {
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            return `${year}-${month}-${day}`;
        }

        // Hàm để cập nhật giá trị của ô ngày
        function updateDateInputs() {
            const currentDate = new Date();
            const sevenDaysAgo = new Date();
            sevenDaysAgo.setDate(currentDate.getDate() - 6);

            // Lấy chuỗi ngày dạng 'YYYY-MM-DD'
            const fromDateValue = formatDate(sevenDaysAgo);
            const toDateValue = formatDate(currentDate);

            // Cập nhật giá trị của ô ngày
            document.getElementById('fromDate').value = fromDateValue;
            document.getElementById('toDate').value = toDateValue;
        }

        // Gọi hàm cập nhật khi trang được tải
        window.onload = function () {
            updateDateInputs();
        };
    </script>

    <script>


        var arrSanPham = [];
        var arrDoanhThu = [];
        var myChart;
        function generateRandomColors(count) {
            const colors = [];
            for (let i = 0; i < count; i++) {
                const color = `rgba(${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)}, 0.9)`;
                colors.push(color);
            }
            return colors;
        }

        const colors = generateRandomColors(20);
        function updateChart(fromDate, toDate) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("ThongKeTheoSanPhamOnline", "ThongKe")",
                data: { fromDate: fromDate, toDate: toDate },
                success: function (rs) {
                    console.log("u la tr");
                    console.log(rs.data);
                    arrSanPham = [];
                    arrDoanhThu = [];

                    $.each(rs.data, function (i, item) {
                        console.log("Hi, chào cậu ");
                        arrDoanhThu.push(item.doanhThu);
                        arrSanPham.push(item.sanPham);
                    });

                    // Cập nhật dữ liệu cho biểu đồ hiện tại
                    myChart.data.labels = arrSanPham;
                    myChart.data.datasets[0].data = arrDoanhThu;
                    console.log(arrDoanhThu);
                    // Cập nhật biểu đồ
                    myChart.update();
                    load_data(rs);
                }
            });
        }

        // Khởi tạo biểu đồ ban đầu
        $(document).ready(function () {
            const data = {
                labels: [],
                datasets: [
                    {
                        label: '',
                        backgroundColor: colors,
                        borderColor: colors,
                        pointRadius: false,
                        pointColor: '#3b8bba',
                        pointStrokeColor: 'rgba(60,141,188,1)',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(60,141,188,1)',
                        data: []
                    }
                ]
            };

            const config = {
                type: 'doughnut',//pie
                data: data,
                options: {
                    layout: {
                        padding: 10
                    },
                    plugins: {
                        legend: {
                            display: true,
                            position: 'right',
                            padding: 30
                        },
                        datalabels: {
                            formatter: (value, ctx) => {
                                console.log(value);
                                console.log(ctx);
                                const total = ctx.chart.data.datasets[0].data.reduce((acc, val) => acc + val, 0);
                                console.log("Hi, chúng ta lại gặp nhau rồi ");
                                console.log(total);
                                const percentage = total !== 0 ? ((value / total) * 100).toFixed(2) + '%' : '0.00%';

                                return percentage;
                            },
                            anchor: 'center',
                            align: 'end',
                            color: 'white',

                        },
                    },
                },
                plugins: [ChartDataLabels]
            };

            myChart = new Chart(
                document.getElementById('myChart'),
                config
            );

            updateChart('', '');
            //updateTable('', '');

        });

        // Xử lý sự kiện khi ngày thay đổi
        $('#fromDate, #toDate').change(function () {
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            updateChart(fromDate, toDate);
            //updateTable(fromDate, toDate);
        });

        function load_data(data) {
            var strHtml = "";
            console.log("mi");
            console.log(data.data);
            console.log("mi");
            $.each(data.data, function (i, item) {
                console.log("ulatroi1");
                console.log(i);

                strHtml += "<tr>";
                strHtml += "<td>" + (i + 1) + "</td>";
                strHtml += "<td>" + item.maSanPham + "</td>";
                strHtml += "<td>" + item.sanPham + "</td>";
                //strHtml += "<td>" + item.soLuongKhachHang + "</td>";
                strHtml += "<td>" + item.soLuongHangBan + "</td>";
                strHtml += "<td>" + item.soLuongDonHang + "</td>";
                //strHtml += "<td>" + item.tienHang + "</td>";
                strHtml += "<td>" + item.chietKhauSanPham.toLocaleString('en-US') + "</td>";
                strHtml += "<td>" + item.doanhThu.toLocaleString('en-US') + "</td>";
                strHtml += "</tr>";
            });
            $('#load_data').html(strHtml);
        }
        function exportToExcel() {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();
            var currentDate = yyyy + '-' + mm + '-' + dd;

            var wb = XLSX.utils.book_new();

            var ws = XLSX.utils.table_to_sheet(document.getElementById('data-table'));
            //var ws1 = XLSX.utils.table_to_sheet(document.getElementById('dataTable'));
            //XLSX.utils.book_append_sheet(wb, ws1, 'DataChart');
            XLSX.utils.book_append_sheet(wb, ws, 'Dữ liệu thống kê');


            var fileName = 'DoanhThuTheoSamPham' + currentDate + '.xlsx';
            var fileanh = 'DoanhThuTheoSamPham' + currentDate + '.png';
            XLSX.writeFile(wb, fileName);
            downloadImg(fileanh);
        }

        function downloadImg(fileanh) {
            const imageLink = document.createElement('a');
            const canvas = document.getElementById('myChart');
            //imageLink.download = 'canvas.png';
            imageLink.download = fileanh;
            imageLink.href = canvas.toDataURL('image/png', 1);
            imageLink.click();

        }
    </script>
}
