@model App_Data.ViewModels.SanPhamChiTietViewModel.ItemDetailViewModel
@using App_View.IServices;
@using App_View.Services;
@inject IDanhGiaservice _DanhGiaservice
@{
    _DanhGiaservice = new DanhGiaservice();
    var TongSoDanhGia = await _DanhGiaservice.GetTongSoDanhGia(Model.IdChiTietSp);
    var SaoTb = await _DanhGiaservice.GetSoSaoTB(Model.IdChiTietSp);
}
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal--shadow">

        <button class="btn dismiss-button fas fa-times" type="button" data-dismiss="modal"></button>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-5">

                    <!--====== Product Breadcrumb ======-->
                    <div class="pd-breadcrumb u-s-m-b-30">
                        <ul class="pd-breadcrumb__list">
                            <li class="has-separator">

                                <a href="/">TRANG CHỦ</a>
                            </li>
                            <li class="is-marked">

                                <a href="/SanPhamChiTiets">GIAN HÀNG</a>
                            </li>
                        </ul>
                    </div>
                    <!--====== End - Product Breadcrumb ======-->
                    <!--====== Product Detail ======-->
                    <div class="pd u-s-m-b-30">
                        <div class="pd-wrap">
                            <div id="js-product-detail-modal">
                                @foreach (var item in Model.DanhSachAnh!)
                                {
                                    <div>

                                        <img class="u-img-fluid" src="/AnhSanPham/@item" alt="" style="height: 20rem">
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="u-s-m-t-15">
                            <div id="js-product-detail-modal-thumbnail">
                                @foreach (var item in Model.DanhSachAnh!)
                                {
                                    <div>

                                        <img class="u-img-fluid" src="/AnhSanPham/@item" alt="" style="height: 5rem">
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                    <!--====== End - Product Detail ======-->
                </div>
                <div class="col-lg-7" style="margin-top: 55px">

                    <!--====== Product Right Side Details ======-->
                    <div class="pd-detail">
                        <div class="product-m__category">

                            <a>@Model.ThuongHieu</a>
                        </div>
                        <div>

                            <span class="pd-detail__name">@Model.TenSanPham!.ToUpper()</span>
                        </div>
                        <div class="u-s-m-b-15">
                            <div class="pd-detail__rating gl-rating-style">
                                @if (SaoTb < 0.3)
                                {

                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                }
                                else if (SaoTb < 0.8)
                                {
                                    <i class="fas fa-star-half-alt"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                }
                                else if (SaoTb < 1.3)
                                {
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                }
                                else if (SaoTb < 1.8)
                                {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                }
                                else if (SaoTb < 2.3)
                                {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                }
                                else if (SaoTb < 2.8)
                                {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                }
                                else if (SaoTb < 3.3)
                                {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                }
                                else if (SaoTb < 3.8)
                                {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <i class="far fa-star"></i>
                                }
                                else if (SaoTb < 4.3)
                                {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                }

                                else if (SaoTb < 4.8)
                                {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                }
                                else
                                {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                }
                                <span class="pd-detail__review u-s-m-l-4">

                                    <a href="">@TongSoDanhGia Đánh giá</a>
                                </span>
                            </div>
                        </div>
                        <div class="u-s-m-b-15">
                            <div class="pd-detail__inline">

                                <span class="pd-detail__stock">@Model.LstMauSac!.Count màu</span>

                            </div>
                        </div>
                        <div class="u-s-m-b-15">
                            <ul class="pd-social-list">
                                <li>

                                    <a class="s-fb--color-hover" href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>

                                    <a class="s-tw--color-hover" href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>

                                    <a class="s-insta--color-hover" href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>

                                    <a class="s-wa--color-hover" href="#"><i class="fab fa-whatsapp"></i></a>
                                </li>
                            </ul>
                        </div>

                        <div class="u-s-m-b-15">

                            <span class="pd-detail__label u-s-m-b-8">Chính sách sản phẩm:</span>
                            <ul class="pd-detail__policy-list">
                                <li>
                                    <i class="fas fa-check-circle u-s-m-r-8"></i>

                                    <span>Bảo vệ quyền lợi người dùng.</span>
                                </li>
                                <li>
                                    <i class="fas fa-check-circle u-s-m-r-8"></i>

                                    <span>Hoàn trả đầy đủ nếu bạn không nhận được đơn đặt hàng của mình.</span>
                                </li>
                                <li>
                                    <i class="fas fa-check-circle u-s-m-r-8"></i>

                                    <span>Chấp nhận đổi trả nếu sản phẩm không như mô tả.</span>
                                </li>
                            </ul>
                        </div>

                        <div class="u-s-m-b-15">
                            <div class="pd-detail__form">
                                <div class="pd-detail-inline-2">
                                    <a class="btn btn--e-brand-b-2 add-product" href="/SanPhamChiTiets/Details/@Model.IdChiTietSp">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--====== End - Product Right Side Details ======-->
                </div>
            </div>
        </div>
    </div>
</div>
@*<script>

    $("#addToFavorite").on("click", function () {
        var data = {};
        $('#addToFavoriteForm').find("input, select, textarea").each(function () {
            var fieldType = $(this).attr("type");
            var fieldName = $(this).attr("name");
            var fieldValue;

            if (fieldType === "checkbox" || fieldType === "radio") {
                fieldValue = $(this).is(":checked");
            } else {
                fieldValue = $(this).val();
            }

            data[fieldName] = fieldValue;
        });

        $.ajax({
            url: '/SanPhamYeuThich/Create',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function (result) {
                window.location.href = '/sanphamyeuthich/danhsachsanphamyeuthich'
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
                if (xhr.status === 401) {
                    window.location.href = '/login'
                }
            }
        });
    });

    $("#removeToFavorite").on("click", function () {
        var data = {};
        $('#addToFavoriteForm').find("input, select, textarea").each(function () {
            var fieldType = $(this).attr("type");
            var fieldName = $(this).attr("name");
            var fieldValue;

            if (fieldType === "checkbox" || fieldType === "radio") {
                fieldValue = $(this).is(":checked");
            } else {
                fieldValue = $(this).val();
            }

            data[fieldName] = fieldValue;
        });

        $.ajax({
            url: '/SanPhamYeuThich/Remove',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function (result) {
                window.location.reload();
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
                if (xhr.status === 401) {
                    window.location.href = '/login'
                }
            }
        });
    });


    function updateViewCartMini() {
        $.ajax({
            url: '/GioHangChiTiets/GetGioHangMiniModel',
            type: 'GET',
            success: function (result) {
                $('#body-mini-cart').empty().html(result)
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        });
    }

    $('.add-product').click(() => {
        var data = {};
        $('.pd-detail__form').find("input, select, textarea").each(function () {
            var fieldType = $(this).attr("type");
            var fieldName = $(this).attr("name");
            var fieldValue;

            if (fieldType === "checkbox" || fieldType === "radio") {
                fieldValue = $(this).is(":checked");
            } else {
                fieldValue = $(this).val();
            }

            data[fieldName] = fieldValue;
        });



        $.ajax({
            url: '/GioHangChiTiets/AddToCart',
            type: 'POST',
            data: data,
            success: function (result) {
                $('.dismiss-button').trigger('click');
                updateViewCartMini();
                toast({
                    title: "Thành công!",
                    message: "Bạn đã thêm thành công sản phẩm vào giỏ hàng!",
                    type: "success",
                    duration: 5000
                });
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        });
    })
</script>*@