@using App_View.IServices;
@using App_View.Services;
@model App_Data.ViewModels.SanPhamChiTietViewModel.ItemDetailViewModel
@inject IDanhGiaservice _DanhGiaservice
@{
    _DanhGiaservice = new DanhGiaservice();
    var TongSoDanhGia = await _DanhGiaservice.GetTongSoDanhGia(@Model.IdChiTietSp!);
    var SaoTb = await _DanhGiaservice.GetSoSaoTB(@Model.IdChiTietSp);

}
<div class="modal fade" id="show-menu-size">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-radius modal-shadow"  style="
    MARGIN-TOP: -300px;
    WIDTH: 643px !important;
    max-width: 600px !important;
">
            <button class="btn dismiss-button miss-add-to-cart fas fa-times" type="button" data-dismiss="modal"></button>
            <div class="modal-body" style="background-repeat: no-repeat;width: 542px;background-image: url('https://www.giaykimthanh.net/image/cache/catalog/Fado.VN_1519380156.5984-950x672.jpg');height: 382px;background-position: center;background-size: contain;">
                
            </div>
        </div>
    </div>
</div>
<div class="app-content">
    <div id="body_detail">
        @await Html.PartialAsync("_SanPhamDetailPatialView", Model)
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    function RemoveToFavorite() {
        var data = {};
        $('#addToFavoriteForm').find("input, select, textarea").each(function () {
            var fieldType = $(this).attr("type");
            var fieldName = $(this).attr("name");
            var fieldValue;

            if (fieldType === "checkbox" || fieldType === "radio") {
                fieldValue = $(this).is(":checked");
            } else {
                fieldValue = $(this).val();
            }

            data[fieldName] = fieldValue;
        });

        $.ajax({
            url: '/SanPhamYeuThich/Remove',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function (result) {
                var url = window.location.href;

                var parts = url.split('/');

                var id = parts.pop();

                loadPartialDetailProduct(id)
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
                if (xhr.status === 401) {
                    window.location.href = '/login'
                }
            }
        });
    }

    function AddToFavorite() {
        var data = {};
        $('#addToFavoriteForm').find("input, select, textarea").each(function () {
            var fieldType = $(this).attr("type");
            var fieldName = $(this).attr("name");
            var fieldValue;

            if (fieldType === "checkbox" || fieldType === "radio") {
                fieldValue = $(this).is(":checked");
            } else {
                fieldValue = $(this).val();
            }

            data[fieldName] = fieldValue;
        });
        $.ajax({
            url: '/SanPhamYeuThich/Create',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function (result) {
                var url = window.location.href;

                var parts = url.split('/');

                var id = parts.pop();

                loadPartialDetailProduct(id)

            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
                if (xhr.status === 401) {
                    window.location.href = '/login'
                }
            }
        });
    }

    $(document).off('change', '[name="color"]')
    $(document).on('change', '[name="color"]', function () {
        //$('.preloader').addClass('is-active');
        var data = new FormData();
        data.append('id', $('[name="IdChiTietSp"]').val());
        data.append('mauSac', $('[name="color"]:checked').val());
        $.ajax({
            url: '/SanPhamChiTiets/GetItemDetailViewModelWhenSelectColor',
            type: 'GET',
            data: {
                id: $('[name="IdChiTietSp"]').val(),
                mauSac: $('[name="color"]:checked').val()
            },
            success: function (result) {
                loadPartialDetailProduct(result.idChiTietSp);
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        });
    })

    function loadPartialDetailProduct(idChiTietSp) {
        $.ajax({
            url: '/SanPhamChiTiets/LoadPartialDetailProduct',
            type: 'GET',
            data: { "id": idChiTietSp },
            success: function (resultPartial) {
                $('#body_detail').empty().html(resultPartial);
                window.history.pushState({}, null, '/SanPhamChiTiets/Details/' + idChiTietSp);
                loadScripts();

            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
                console.error(status);
                console.error(error);
            }
        });
    }

    function loadScripts() {
        setTimeout(function () {
            $.getScript('/js/vendor.js', function () {
                $.getScript('/js/jquery.shopnav.js', function () {
                    $.getScript('/js/app.js', function () { });
                });
            });
        }, 1)
    }

    $(document).off('change', '.pd-detail__size')
    $(document).on('change', '.pd-detail__size', function () {
        //$('.preloader').addClass('is-active');
        const idSpct = $('[name="IdChiTietSp"]').val();
        const size = $(this).find('input:checked').val();

        $.ajax({
            url: '/SanPhamChiTiets/GetItemDetailViewModelWhenSelectSize',
            type: 'GET',
            data: {
                id: idSpct,
                size: size,
            },
            success: function (result) {
                loadPartialDetailProduct(result.idChiTietSp);
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        });
    })

    const updateViewCartMini = () => {

        $.ajax({
            url: '/GioHangChiTiets/GetGioHangMiniModel',
            type: 'GET',
            success: function (result) {
                $('#body-mini-cart').empty().html(result)
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        });


    }

    window.addEventListener("popstate", function (e) {
        $.ajax({
            url: window.location.href,
            type: "GET",
            success: function (data) {
                $("body").html(data);
            },
            error: function (xhr, status, error) {
            }
        });
    });

    $(document).off('click', 'button[data-modal-id="#add-to-cart"]');
    $(document).on('click', 'button[data-modal-id="#add-to-cart"]', function () {

        var data1 = {};
        $('.pd-detail__form').find("input, select, textarea").each(function () {
            var fieldType = $(this).attr("type");
            var fieldName = $(this).attr("name");
            var fieldValue;

            if (fieldType === "checkbox" || fieldType === "radio") {
                fieldValue = $(this).is(":checked");
            } else {
                fieldValue = $(this).val();
            }

            data1[fieldName] = fieldValue;
        });



        $.ajax({
            url: '/GioHangChiTiets/AddToCart',
            type: 'POST',
            data: data1,
            success: function (result) {
                updateViewCartMini();
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        });
    });

</script>