@model App_Data.ViewModels.FilterViewModel.FilterDataVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--====== App Content ======-->
<div class="app-content">

    <div class="u-s-p-y-10">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">

                                <a href="/">Trang chủ</a>
                            </li>
                            <li class="is-marked">

                                <a>Gian Hàng</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== Section 1 ======-->
    <div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop-p">
                        <div class="shop-p__toolbar u-s-m-b-30">
                            <div class="shop-p__tool-style">
                                <div class="tool-style__group u-s-m-b-8">

                                    <span class="js-shop-filter-target" data-side="#side-filter">Bộ lọc</span>

                                    <span class="js-shop-grid-target is-active">Gian hàng</span>

                                </div>
                                <form>
                                    <div class="tool-style__form-wrap">
                                        <div class="u-s-m-b-8">
                                            <select class="select-box select-box--transparent-b-2" id="select_price">
                                                <option value="">Sắp xếp</option>
                                                <option value="price_asc">Theo giá tăng dần</option>
                                                <option value="price_desc">Theo giá giảm dần</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="body-ds">
                            @await Html.PartialAsync("_DanhSachSanPhamPartialView", Model)
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->
</div>
<!--====== End - App Content ======-->
<script>
    function activateLayoutJavaScript() {
        $.getScript('/js/vendor.js', function () {
            $('[data-tooltip="tooltip"]').tooltip({
                trigger: 'hover'
            });
        });
    }

    $(document).on('change', '#select_price', function () {
        const brandParam = new URLSearchParams(window.location.search).get("brand");

        $('.preloader').addClass('is-active');

        var lstKichCo = $('.lst-kichco input[type="checkbox"]:checked').map(function () {
            return $(this).attr('id')
        }).get();

        var lstMauSac = $('.lst-mausac input[type="checkbox"]:checked').map(function () {
            return $(this).attr('id')
        }).get();

        var lstTheLoai = $('.lst-theloai input[type="checkbox"]:checked').map(function () {
            return $(this).closest('.list__content').find('span').text()
        }).get();

        var lstRating = $('.rating__check input[type="checkbox"]:checked').map(function () {
            return $(this).val()
        }).get();

        var data = {};
        $('#s-price').find("input, select, textarea").each(function () {

            var fieldType = $(this).attr("type");
            var fieldName = $(this).attr("name");
            var fieldValue;

            if (fieldType === "checkbox" || fieldType === "radio") {
                fieldValue = $(this).is(":checked");
            } else {
                fieldValue = $(this).val();
                if (!fieldValue) {
                    fieldValue = 0;
                }
            }

            data[fieldName] = fieldValue;

        });

        var filterdata = {
            LstTheLoai: lstTheLoai,
            LstMauSac: lstMauSac,
            lstKichCo: lstKichCo,
            Sort: $('#select_price').val(),
            LstRating: lstRating,
            ...data
        };

        $.ajax({
            url: brandParam != null ? '/SanPhamChiTiets/LoadPartialViewDanhSachSanPhamNguoiDung?brand=' + brandParam : '/SanPhamChiTiets/LoadPartialViewDanhSachSanPhamNguoiDung',
            type: 'POST',
            data: JSON.stringify(filterdata),
            contentType: 'application/json',
            success: function (result) {
                $('#body-ds').empty().html(result)
                $('.preloader').removeClass('is-active');
                activateLayoutJavaScript()
                isTaskRuning = false;
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        });
    })
</script>