@using App_Data.Models;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<NguoiDung> SignInManager
@inject UserManager<NguoiDung> UserManager

@if (SignInManager.IsSignedIn(User))
{
  
    var user = await UserManager.GetUserAsync(User);
    var fullName = user.TenNguoiDung;
    var parts = fullName.Split(' ');
    var LastName = parts[0];
    var FirstName = string.Join(' ', parts.Skip(1));
    

    <span class="dash__text u-s-m-b-16"> Hello,@user.TenNguoiDung
    </span>
}
