@using App_Data.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<NguoiDung> SignInManager
@inject UserManager<NguoiDung> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    <li class="has-dropdown" data-tooltip="tooltip" data-placement="left">
        <a><i><img class="imgUser" style="margin-bottom:-7px;width:30px;height:30px; object-fit:cover; border-radius:30px" src="@user.AnhDaiDien"></i>&nbsp;@UserManager.GetUserName(User)</a>
        <span class="js-menu-toggle"></span>
        <ul>
            <li>
                <a asp-area="Identity" asp-page="/Account/my-profile">
                    <i class="fas fa-user-circle u-s-m-r-6"></i>
                    <span>Tài khoản của tôi</span>
                </a>
            </li>
            <li>

                <form id="myForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark" style="border: 0px;background-color:white;">
                        <a>
                            <i class="fas fa-lock-open u-s-m-r-6"></i>
                            <span>Đăng xuất</span>
                        </a>
                    </button>
                </form>
            </li>
        </ul>


    </li>
    bool isCustomer = await UserManager.IsInRoleAsync(user, "Admin") || await UserManager.IsInRoleAsync(user, "NhanVien");
    if (isCustomer)
    {
        <li class="has-dropdown" data-tooltip="tooltip" data-placement="left" title="" data-original-title="Trang quản trị">
            <a asp-area="Admin" asp-action="DanhSachHoaDonCho" asp-controller="BanHangTaiQuay"><i class="fas fa-user-cog"></i></a>
        </li>
    }
    
}
else
{
    <li class="has-dropdown" data-tooltip="tooltip" data-placement="left" title="" data-original-title="Account">

        <a><i class="far fa-user-circle"></i></a>
        <span class="js-menu-toggle"></span>
        <ul style="width:120px">

            <li>
                <a asp-area="Identity" asp-page="/Account/Register">
                    <i class="fas fa-user-plus u-s-m-r-6"></i>
                    <span>Đăng ký</span>
                </a>
            </li>
            <li>
                <a asp-area="Identity" asp-page="/Account/Login">
                    <i class="fas fa-lock u-s-m-r-6"></i>
                    <span>Đăng nhập</span>
                </a>
            </li>

        </ul>

    </li>
    <li data-tooltip="tooltip" data-placement="left" title="" data-original-title="Theo dõi đơn hàng">

        <a asp-action="TrackOrder" asp-area="" asp-controller="HoaDon"><i class="fas fa-truck u-s-m-r-5"></i></a>
    </li>
}
