@using App_Data.DbContextt;
@using App_Data.Models;
@using App_View.IServices;
@using App_View.Services;
@using Microsoft.AspNetCore.Identity;
@using static App_Data.Repositories.TrangThai;
@model IEnumerable<App_Data.ViewModels.HoaDon.HoaDonChoDTO>
@{
    BazaizaiContext context = new BazaizaiContext();
    IHoaDonServices hoaDonServices = new HoaDonServices();
}
@{
    ViewData["Title"] = "DanhSachHoaDonCho";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/css/ban-hang-tai-quay.css" rel="stylesheet" />
<div class="card">
    <div class="row" style="height:800px">
        <div class="col-9">
            <div class="row" style="height: 400px;background-color:red">
                <div class="card w-100 h-100">
                    <button class="btn btn-primary" id="create-tab" style="width: 140px">Tạo tab mới</button>
                    <div id="tabs">
                            <ul>
                                @{foreach (var item in Model)
                                {
                                    <li><a href="#tab-@item.MaHoaDon">@item.MaHoaDon</a><span class="ui-icon ui-icon-close" role="presentation">Close</span></li>
                                }}
                            </ul>
                            @{
                            foreach (var item in Model)
                            {
                                <div id="tab-@item.MaHoaDon" style="height:100%">@item.MaHoaDon <div style="background-color:red;height:200px"></div></div>
                            }}
                    </div>
                </div>
            </div>
            <div class="row" style="height: 400px">

                <div class="row">
                    <div class="col-4" style="margin-left: 5px;">
                        <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm">
                    </div>
                </div>
                <div class="col-3">
                    <div class="card" style="width: 15rem; margin: 5px;">
                        <div class="card-body">
                            <h5 class="card-title">Sản phẩm</h5>
                            <img src="https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-6/363362037_857800985704697_9056549640961271004_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=Vh2YQ6vyXSYAX-IC9S4&_nc_oc=AQl2v09MS-fEzk-dnr4dLgNjzq3aBivJQzSEnQYSmU4z9JULfRXjm4wI72Lc6amtDM0&_nc_ht=scontent.fhan14-2.fna&oh=00_AfDmeUYpsisaUVn9z-gxK0nNM7VugJaevAqI1TFBzqyI8w&oe=65359210" class="card-img-top" alt="...">
                            <p class="card-text">
                                <span style="color: red;">Giá: 20.000đ</span><br>
                                <span>Số lượng: 20</span>
                                <a href="#" class="btn btn-success" style="float: right;">Add</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-3" style="height: 100%">
            <div class="p-3">Row column</div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#tabs").tabs({
            beforeActivate: function (event, ui) {
                if (ui.newTab.hasClass("ui-state-disabled")) {
                    event.preventDefault();
                }
            }
        });

        $("#create-tab").on("click", function () {
            if ($("#tabs ul li").length < 10) {
                var tabIndex = "";
                var tabTitle = "";
                $.ajax({
                    url: "@Url.Action("TaoHoaDonTaiQuay", "BanHangTaiQuay")",
                    type: "POST",
                    dataType: 'json',
                    success: function (response) {
                        tabIndex = response;
                        tabTitle = response;
                        var tabContent = tabIndex 
                        $("<li><a href='#tab-" + tabIndex + "'>" + tabTitle + "</a><span class='ui-icon ui-icon-close' role='presentation'>Close</span></li>").appendTo("#tabs ul");
                        $("<div id='tab-" + tabIndex + "'>" + tabContent + "</div>").appendTo("#tabs");
                        $("#tabs").tabs("refresh");
                    },
                    error: function (error) {
                        console.error(error);
                    },
                });
            }
        });

        $("#tabs").on("click", ".ui-icon-close", function () {
            var panelId = $(this).closest("li").remove().attr("aria-controls");
            $("#" + panelId).remove();
            $("#tabs").tabs("refresh");
        });
    });
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
}

