                            <!--====== Tab 3 ======-->
<div class="tab-pane fade show active" id="pd-rev">
    <div class="pd-tab__rev">
        <div class="u-s-m-b-30">
            <div class="pd-tab__rev-score">
                <div class="u-s-m-b-8">
                    <h2>23 Đánh giá - 4.6 (Tổng thể)</h2>
                </div>
                <div class="gl-rating-style-2 u-s-m-b-8"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></div>
                <div class="u-s-m-b-8">
                    <h4>Chúng tôi muốn lắng nghe ý kiến của bạn!</h4>
                </div>

                <span class="gl-text">Hãy cho chúng tôi những gì bạn nghĩ về sản phẩm này</span>
            </div>
        </div>
        <div class="u-s-m-b-30">
            <form class="pd-tab__rev-f1">
                <div class="rev-f1__group">
                    <div class="u-s-m-b-15">
                        <h2>23 Review(s) for Man Ruched Floral Applique Tee</h2>
                    </div>
                    <div class="u-s-m-b-15">

                        <label for="sort-review"></label><select class="select-box select-box--primary-style" id="sort-review">
                            <option selected>Sort by: Best Rating</option>
                            <option>Sort by: Worst Rating</option>
                        </select>
                    </div>
                </div>
                <div class="rev-f1__review">

                    <div class="review-o u-s-m-b-15">
                        <div class="review-o__info u-s-m-b-8">

                            <span class="review-o__name">John Doe</span>

                            <span class="review-o__date">27 Feb 2018 10:57:43</span>
                        </div>
                        <div class="review-o__rating gl-rating-style u-s-m-b-8">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>

                            <span>(4)</span>
                        </div>
                        <p class="review-o__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <div style="width:100%;padding-left:50px;background:#d5d5d5;">
                            <div class="review-o__info u-s-m-b-8">

                                <span class="review-o__name">Phản Hồi Của Shop</span>

                            </div>
                          
                            <p class="review-o__text">Dạ shop cám ơn ak </p>
                        </div>

                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<!--====== End - Tab 3 ======-->
