@model App_Data.Models.DanhGia

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<style>

    .star-widget label {
        font-size: 25px;
        color: black;
        padding: 10px;
        float: left;
        transition: all 0.2s ease;
    }


    input:not(:checked) + label {
        color: rgb(255, 187, 0);
    }

    input:checked ~ label {
        color: rgb(109, 109, 109);
    }

    input:checked + label {
        color: rgb(255, 187, 0);
    }


    #rate-1:checked ~ header::before {
        content: "Tệ 😠";
    }

    #rate-2:checked ~ header::before {
        content: "Không hài lòng 😒";
    }

    #rate-3:checked ~ header::before {
        content: "Bình thường 🙂";
    }

    #rate-4:checked ~ header::before {
        content: "Hài lòng 😊";
    }

    #rate-5:checked ~ header::before {
        content: "Tuyệt vời 🥰";
    }

    .starvc-widget label {
        font-size: 25px;
        color: black;
        padding: 10px;
        float: left;
        transition: all 0.2s ease;
    }

    #ratevc-1:checked ~ header::before {
        content: "Tệ 😠";
    }

    #ratevc-2:checked ~ header::before {
        content: "Không hài lòng 😒";
    }

    #ratevc-3:checked ~ header::before {
        content: "Bình thường 🙂";
    }

    #ratevc-4:checked ~ header::before {
        content: "Hài lòng 😊";
    }

    #ratevc-5:checked ~ header::before {
        content: "Tuyệt vời 🥰";
    }
</style>

<div class="modal-dialog modal-dialog-centered" style="min-width:900px">
    <div class="modal-content modal--shadow">

        <button class="btn dismiss-button fas fa-times" type="button" data-dismiss="modal"></button>
        <div class="modal-body" style="margin-left:20px;margin-right:20px; margin-top:10px;">
            <div class="row">
                <div class="u-s-m-b-30">

                    <form asp-action="AddDanhGia" class="pd-tab__rev-f2">
                        <h2 class="gl-label">Đánh giá sản phẩm</h2>
                        <input asp-for="IdSanPhamChiTiet" value="42c3e91f-9b59-4ec7-836e-e46907091b1d" class="form-control" hidden /> @*chú ý*@

                        <div class="u-s-m-b-30" style="margin-top:20px;">
                            <div class="rev-f2__table-wrap gl-scroll">
                                <table class="rev-f2__table" style="border: none;">
                                    <thead>
                                        <tr>
                                            <th colspan="1" style="width: 20%; border: none;">
                                                <img style="height:100px;width:100px;" src="/user_img/b9e8d8f9-ee8c-49a9-bf40-317a5e4803ff_tải xuống.jpg" />

                                            </th>
                                            <th colspan="4" style="width: 80%; border: none;">
                                                <span style=" text-align: left;">hehehe</span>
                                            </th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>
                        <span class="gl-label">Chất lượng sản phẩm</span>
                        @*  sao*@
                        <div class="container" style="position: relative;
margin-top:-60px;
        width: 500px;
        padding: 20px 30px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;">
                            <div class="star-widget">
                                <input type="radio" name="rate" value="1" id="rate-1" hidden>
                                <label for="rate-1" class="fas fa-star"></label>
                                <input type="radio" value="2" name="rate" id="rate-2" hidden>
                                <label for="rate-2" class="fas fa-star"></label>
                                <input value="3" type="radio" name="rate" id="rate-3" hidden>
                                <label for="rate-3" class="fas fa-star"></label>
                                <input type="radio" name="rate" id="rate-4" value="4" hidden>
                                <label for="rate-4" class="fas fa-star"></label>
                                <input type="radio" name="rate" id="rate-5" value="5" checked hidden>
                                <label for="rate-5" class="fas fa-star"></label>
                                <header style="margin-top: 10px;"></header>
                            </div>
                            <input value="5" id="saoSpInput" asp-for="SaoSp" class="form-control" hidden />
                        </div>

                        @* sao*@
                        <div class="rev-f2__group">
                            <div>
                                <p class="u-s-m-b-30">

                                    <label class="gl-label" for="reviewer-name">Đúng với mô tả:</label>

                                    <textarea asp-for="MoTa" class="text-area text-area--primary-style" id="reviewer-text" style="height:53px" maxlength="200"></textarea>
                                    <span asp-validation-for="MoTa" class="text-danger"></span>
                                </p>
                                <p class="u-s-m-b-30">

                                    <label class="gl-label" for="reviewer-email">Chất lượng sản phẩm:</label>

                                    <textarea asp-for="ChatLuongSanPham" class="text-area text-area--primary-style" id="reviewer-text" style="height:53px" maxlength="200"></textarea>

                                    <span asp-validation-for="ChatLuongSanPham" class="text-danger"></span>
                                </p>
                            </div>
                            <div class="u-s-m-b-15">

                                <label class="gl-label" for="reviewer-text"> </label>
                                <textarea asp-for="BinhLuan" style="height:201px" class="text-area text-area--primary-style" id="reviewer-text" placeholder="Hãy chia sẻ những trải nghiệm của bạn về sản phẩm với người khác." maxlength="300"></textarea>

                                <span asp-validation-for="BinhLuan" class="text-danger"></span>
                            </div>

                        </div>
                        <h3 class="gl-label" style="font-size: 18px;">Về dịch vụ</h3>
                        <span class="gl-label">Dịch vụ vận chuyển</span>
                        @*  sao*@

                        <div class="container" style="position: relative;
margin-top:-60px;
        width: 500px;
        padding: 20px 30px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;">
                            <div class="starvc-widget">
                                <input type="radio" name="ratevc" value="1" id="ratevc-1" hidden>
                                <label for="ratevc-1" class="fas fa-star"></label>
                                <input type="radio" value="2" name="ratevc" id="ratevc-2" hidden>
                                <label for="ratevc-2" class="fas fa-star"></label>
                                <input value="3" type="radio" name="ratevc" id="ratevc-3" hidden>
                                <label for="ratevc-3" class="fas fa-star"></label>
                                <input type="radio" name="ratevc" id="ratevc-4" value="4" hidden>
                                <label for="ratevc-4" class="fas fa-star"></label>
                                <input type="radio" name="ratevc" id="ratevc-5" value="5" checked hidden>
                                <label for="ratevc-5" class="fas fa-star"></label>
                                <header style="margin-top: 10px;"></header>
                            </div>
                            <input value="5" id="saoVcInput" asp-for="SaoVanChuyen" class="form-control" hidden />
                        </div>

                        @* sao*@

                        <div style="display: flex; justify-content: flex-end; ">
                            <button class="btn btn--e-brand-shadow" style="background-color:white; color:black" data-dismiss="modal" type="submit">Trở lại</button>
                            <div style="width:10px;"></div>
                            <input style=" color:black" type="submit" value="Create" class="btn btn--e-brand-shadow" />

                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Lắng nghe sự kiện change của radio buttons
    document.querySelectorAll('input[name="rate"]').forEach(function (radio) {
        radio.addEventListener('change', function () {
            // Lấy giá trị của radio button đã chọn
            var selectedValue = document.querySelector('input[name="rate"]:checked').value;

            // Gán giá trị cho input
            document.getElementById('saoSpInput').value = selectedValue;
        });
    });
</script>
<script>
    // Lắng nghe sự kiện change của radio buttons
    document.querySelectorAll('input[name="ratevc"]').forEach(function (radio) {
        radio.addEventListener('change', function () {
            // Lấy giá trị của radio button đã chọn
            var selectedValue = document.querySelector('input[name="ratevc"]:checked').value;

            // Gán giá trị cho input
            document.getElementById('saoVcInput').value = selectedValue;
        });
    });
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
