@page 
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "/Views/Shared/_LayoutUser.cshtml";
}
<style>
    .text-danger {
        color: red;
    }
</style>

<partial name="_StatusMessage" for="StatusMessage" />

<div class="col-lg-9 col-md-12">
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
        <form class="dash-edit-p" id="set-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="dash__pad-2">
                <h1 class="dash__h1">Đặt mật khẩu</h1>
                <span >
                    Bạn không có tên tài khoản/mật khẩu cục bộ cho trang web này. Thêm mật khẩu
                    tài khoản để bạn có thể đăng nhập mà không cần đăng nhập với dịch vụ ngoài.
                </span>
                <div class="row" style="margin-top:15px">
                    <div class="col-lg-6">
                        <div class="gl-inline" style="display: flex;
    flex-direction: column;   align-items: flex-start;">
                            <div class="u-s-m-b-30">

                                <label class="gl-label" for="reg-fname">Nhập mật khẩu mới</label>

                                <input asp-for="Input.NewPassword" class="input-text input-text--primary-style" id="reg-fname" aria-required="true">
                                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                            </div>
                            <div class="u-s-m-b-30">

                                <label class="gl-label" for="reg-fname">Nhập lại mật khẩu</label>

                                <input asp-for="Input.ConfirmPassword" class="input-text input-text--primary-style" id="reg-fname" aria-required="true">
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>

                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-lg-12">
                       
                        <button id="change-email-button" type="submit" class="btn btn--e-brand-b-2">Đặt mật khẩu</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
