<head>
    <link href="~/css/GiveVouchersToUsers.css" rel="stylesheet" />
 
</head>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <img src="~/images/VoucherIMG/ThongBaoThanhCong.png" width="100" class="mb-4">
            <h3>Đã thêm voucher cho người dùng!</h3>
            <span>Trang sẽ tự động tải lại sau 5 giây</span>
        </div>
    </div>
</div>

