@using static App_Data.Repositories.TrangThai;
@model App_Data.ViewModels.Voucher.VoucherDTO;

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash" style="background-color:white">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Quản trị</a>
                <a class="breadcrumb-item" asp-action="ShowVoucherTaiQuay" asp-controller="Vouchers">Danh sách voucher tại quầy</a>
                <a class="breadcrumb-item" asp-action="EditTaiQuay" asp-controller="Vouchers">Chỉnh sửa</a>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h4 class="card-title " style="text-align:center">  Edit Voucher</h4>
        </div>
        <div class="card-body">
            <form asp-action="EditTaiQuay">
                <div class="modal fade" id="confirm">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="background: #3f87f5;">
                                <h5 class="modal-title" id="exampleModalLabel">XÁC NHẬN</h5>
                                <button type="button" class="close" data-dismiss="modal">
                                    <i class="anticon anticon-close"></i>
                                </button>
                            </div>
                            <div class="modal-body" style="background: white;">
                                <span id="thongBao">Bạn có muốn sửa voucher không ?</span>
                            </div>
                            <div class="modal-footer" style="background: white">

                                <button class="btn btn-primary bd-0 col-md-6">Sửa</button>

                                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" asp-for="IdVoucher" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="font-weight-semibold" asp-for="TenVoucher">
                            Tên Voucher:
                        </label>
                        <input asp-for="TenVoucher" id="Ten" placeholder="Nhập tên..."
                               class="form-control" />
                        <span asp-validation-for="TenVoucher" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="font-weight-semibold">Loại hình KM:</label>
                        <select id="LoaiHinhKm" asp-for="LoaiHinhUuDai"
                                class="form-control select2"
                                data-placeholder="Vui lòng chọn!"
                                onchange="toggleInput()">
                            <option value="@((int)TrangThaiLoaiKhuyenMai.TienMat)">Giảm giá tiền mặt</option>
                            <option value="@((int)TrangThaiLoaiKhuyenMai.PhanTram)">Giảm giá theo %</option>
                            <option value="@((int)TrangThaiLoaiKhuyenMai.Freeship)">Miễn phí ship</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">

                    <div class="form-group col-md-6 tienMat">
                        <label class="font-weight-semibold" id="inputLabel">Nhập số tiền giảm:</label>
                        <input asp-for="MucUuDai" id="MucGiam"
                               class="form-control formatPrice" type="text" />
                        <span asp-validation-for="MucUuDai" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6 phantram">
                        <label class="font-weight-semibold" id="inputLabel">Nhập số phần trăm:</label>
                        <input asp-for="MucUuDai" id="MucGiam"
                               class="form-control" type="number" min="0" max="100" />
                        <span asp-validation-for="MucUuDai" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="font-weight-semibold">Số lượng:</label>
                        <input class="form-control" asp-for="SoLuong" />
                        <span asp-validation-for="SoLuong"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="font-weight-semibold">Ngày bắt đầu:</label>
                        <input asp-for="NgayBatDau" id="NgayBatDau"
                               class="form-control" />
                        <span asp-validation-for="NgayBatDau"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="font-weight-semibold">Ngày kết thúc:</label>
                        <input asp-for="NgayKetThuc" id="NgayKetThuc"
                               class="form-control" />
                        <span asp-validation-for="NgayKetThuc"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="font-weight-semibold">Điều kiện:</label>
                        <input class="form-control" type="number" asp-for="DieuKien" />
                        <span asp-validation-for="DieuKien" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <a class="btn btn-primary bd-0 col-md-6" data-toggle="modal" data-target="#confirm" style="margin-top:30px;color:white">Sửa</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        var daClick = false;

        // Lắng nghe sự kiện click trên nút "Thêm mới"
        document.querySelector("#confirm .modal-footer .btn-primary").addEventListener("click", function () {
            // Nếu nút chưa được click lần nào
            if (!daClick) {
                // Đặt biến daClick thành true để ngăn chặn các lần click sau này
                daClick = true;
                $('#confirm').modal('hide');
            }
        });
        document.querySelector('.phantram').style.display = 'none';
        $(() => {
            $(".formatPrice").each(function () {
                var autoNumeric = new AutoNumeric(this, {
                    decimalCharacter: ".",
                    digitGroupSeparator: ",",
                    decimalPlaces: 0,
                    currencySymbolPlacement: "s",
                    minimumValue: 0,
                    maximumValue: 999999999
                });
            });
        })
        function toggleInput() {
            var select = document.getElementById("LoaiHinhKm");
            var inputLabel = document.getElementById("inputLabel");
            var input = document.getElementById("MucGiam");

            if (select.value === "1") { // Nếu chọn "Giảm giá theo %"
                document.querySelector('.tienMat').style.display = 'none';
                document.querySelector('.phantram').style.display = 'block';
            } else {
                document.querySelector('.tienMat').style.display = 'block';
                document.querySelector('.phantram').style.display = 'none';
            }
        }
    </script>


    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
            <script src="https://cdnjs.cloudflare.com/ajax/libs/autonumeric/4.8.1/autoNumeric.min.js"></script>
        }
    }
