<head>
@*     <link href="~/css/GiveVouchersToUsers.css" rel="stylesheet" /> *@
 
</head>
<div class="thanks-message text-center">
    <img src="~/images/VoucherIMG/ThongBaoThanhCong.png" width="100" class="mb-4">
    <h3>Đã add voucher cho người dùng!</h3> <span>Trang sẽ tự load lại sau 5 giây</span>
</div>
