@model IEnumerable<App_Data.Models.Voucher>

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>

    .checkbox_css {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .voucher-checkbox {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .radio_check input[type="radio"] {
        margin-left: 10px;
        cursor: pointer;
    }

    .tabs {
        display: flex;
        border: 1px solid #ccc;
        overflow: hidden;
        background-color: white;
        margin-bottom: 20px;
        border-radius: 10px;
        width: 600px;
        margin-top: 50px;
    }

    .tab-item {
        flex: 1;
        font-size: 14px;
        text-align: center;
        padding: 10px 0;
        cursor: pointer;
        color: #333333;
        transition: background-color 0.3s;
    }

        .tab-item.active {
            background-color: #3F87F5;
            color: #fff;
        }

    .d-md-flex {
        display: flex !important;
        margin-bottom: -15px;
    }

</style>
<header>
    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Quản trị</a>
                <a class="breadcrumb-item" asp-action="ShowVoucherTaiQuay" asp-controller="Vouchers">Danh sách voucher tại quầy</a>
                <a class="breadcrumb-item" asp-action="ShowVoucherTaiQuayDaIn" asp-controller="Vouchers">Voucher đã in</a>
            </nav>
        </div>
    </div>
</header>
<div class="card-body" style="background-color:#F5F7F8">
    <h1 style="text-align:center">Danh sách voucher tại quầy đã đã được tạo</h1>
    <div class="d-md-flex">
        <div class="row w-100 m-b-30">
            <div class="col-lg-5">
                <form asp-action="ShowVoucherTaiQuayDaIn" method="post">
                    <div class="d-md-flex">
                        <div class="m-b-10">
                            <div class="tabs">
                                <div class="tab-item active" id="tab1" name="trangThai">Tất cả</div>
                                <div class="tab-item " id="tab2" name="trangThai" data-value="6">Hoạt động</div>
                                <div class="tab-item" id="tab3" name="trangThai" data-value="7">Không hoạt động</div>
                                <div class="tab-item" id="tab4" name="trangThai" data-value="8">Chưa hoạt động</div>
                                <div class="tab-item" id="tab5" name="trangThai" data-value="9">Đã huỷ</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="partialContainer">
        <!-- Nội dung PartialView sẽ được hiển thị ở đây -->
    </div>

</div>
<script>
    // Hàm để load danh sách Voucher mặc định khi trang web được load
    function loadDefaultVoucher() {
        var trangThai = $('#tab1').data('value'); // Lấy giá trị mặc định từ tab "Hoạt động"

        $.ajax({
            url: '@Url.Action("FilterVoucherTaiQuayDaIn", "Vouchers")',
            type: 'POST',
            data: { trangThai: trangThai },
            success: function (result) {
                $('#partialContainer').html(result);
            }
        });
    }

    // Gọi hàm khi trang web được load
    $(document).ready(function () {
        loadDefaultVoucher();
    });

    var tabs = document.querySelectorAll('.tab-item');

    // Gán sự kiện click cho mỗi tab
    tabs.forEach(function (tab) {
        tab.addEventListener('click', function () {
            // Xóa class 'active' từ tất cả các tab
            tabs.forEach(function (innerTab) {
                innerTab.classList.remove('active');
            });

            // Thêm class 'active' cho tab được click
            tab.classList.add('active');
        });
    });
    $('.tab-item').click(function () {
        var trangThai = $(this).data('value');

        $.ajax({
            url: '@Url.Action("FilterVoucherTaiQuayDaIn", "Vouchers")',
            type: 'POST',
            data: { trangThai: trangThai },
            success: function (result) {
                $('#partialContainer').html(result);
            }
        });
    });

</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}
<script src="~/Admin/js/pages/e-commerce-order-list.js"></script>
<script src="~/Admin/vendors/datatables/jquery.dataTables.min.js" defer></script>
<script src="~/Admin/vendors/datatables/dataTables.bootstrap.min.js" defer></script>
<script src="~/Admin/js/pages/datatables.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>